/* This file is part of Kukkaisvoima. It is meant to be example css
for Kukkaisvoima nothing more. This is config file. Kukkaisvoima's
license don't affect this file. So you may freely modify this as you
like */

body {
	margin: 0;
	padding: 0;
}

#nav {
}

#nav ul, #nav ul li {
	float:left;
	text-align:right;
	padding-right:10px;
	height:1.5em;
	display: inline;
	margin: 0;
	padding: 0;
	font-size:1.5em;
}
#content1 {
	font-family: Verdana, sans-serif;
	font-size: small;
	margin: auto;
	width: 90em;
}

#content2 {
	background-color:#FFFFFF;
	float: left;
	width: 65em;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 20px;
}

#content3 {
	margin-top: 10px;
	margin-bottom: 10px;
	padding:20px;
	line-height: 120%
}

#sidebar li {
	list-style-type: square;
	margin-left: -1em;
}

#header {
	padding-left:5em;
	background-image:url(/concise_banner.png);
	background-repeat:no-repeat;
	height:119px;
}

a:link,
a:visited {
	text-decoration: none;
}

h1 a:link,
h1 a:visited {
	border-bottom: none;
}

h2 {
}

h2 a:link,
h2 a:visited {
}

h3 {
}

a:hover {
}

p {
	text-align: left;
}

li {
	text-align: left;
	margin: .5em;
}

img {
	border: none;
}

#footer {
	padding: 2em;
	clear:both;
}
pre {
	padding: 1em;
}

#hit {
	display: inline;
	text-decoration: none;
}

h1,
h2,
div {
	padding:0;
	margin:0;
}

blockquote {
  border-left: 3px solid;
  font-style:normal;
  padding: 0 0 0 10px;
  display: block;
  line-height: 22px;
  vertical-align:baseline;
  font-size: 100%;
}
